html,
button,
input,
select,
textarea,
a {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font: 16px/26px "proxima-nova", Helvetica, Helvetica Neue, Arial;
    background-color: #f2f2f2;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
