html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

#canvas { width: 100%; height: 400px; position: fixed; background-color: #fff; margin-top: 0 !important}
#grid { margin-top: 420px; position: absolute; width: 100%; }

.row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; overflow:hidden; }
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.header { font-weight: bold; }
.cell{ float: left; overflow: hidden; white-space: nowrap; width: 100%; height: 18px; padding-left: 40px;}